 .circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(107, 243, 125);
    /* opacity: 30%; */
}
li > a{
    color: white;
    transition: all 0.4s;
}
 li a:hover{
    color: rgb(107, 243, 125) !important;
}
.lists{
    color: white;
    transition: all 0.4s;
}
.lists i:hover{
    color: rgb(107, 243, 125) !important;
}

.Background {
    background-image: url('worker.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* height: 100vh; */
    max-height: 900px;
}

section {
    width: 100%;
}


body, html {
    height: 100%;
    margin: 0;
}

footer {
    
    background-color: #343a40;
    color: white;
    height: 300px;
    padding: 20px 0;
}
.list{
    list-style-type: none;
}
.lists{
    list-style-type: none;
    
}
.icon-list{
    margin-left: -350px !important
}


*{
color: aliceblue;    
}
.center-text {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 55vh;   
    max-height: 55vh;       
    text-align: center;     
    padding: 20px;          
    box-sizing: border-box; 
}
.para{
    font-size: 30px;
    color: rgb(169, 238, 238);
}
.fara{
    font-size: 80px;
    color: rgb(247, 247, 247);
}
.align-items-center {
    text-align: center;
}
.x {
    margin-top: -60px;
    /* transform: translate(0,-100px);     */
    display: flex;              
     justify-content: center;     
    align-items: center;         
    height: 30vh;   
    max-height: 350px;            
    gap: 50px;                   
}

.third{
    height: 250px;
   font-size: 20px;
    display: flex;
    justify-content:center;
    align-content: center;
    gap: 180px;
    
    align-items: center;
}
.t{
    font-size: 70px;

}
.Third-one{
    background-color: rgb(107, 243, 125);
    height: 150px;
}
.sub-div1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgb(107, 243, 125);
}
.heading{
    color: black;
    font-size: 30px;
} 

.Backgrounds {
    background-image: url('worker.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    max-height: 250px;
}
.cardy{
    margin-top: -20px;
    background-color: aliceblue;
    border-radius: 10px;
}
section div span{
    width: 100px;
    height: 5px;
    background-color: rgb(107, 243, 125);
    display: block;
    text-align: center;
    margin: 15px auto;
}
.effext:hover {
    transform: scale(1.07);
}
.effext{
    transition: all 0.3s;
}
.Backgroundss {
    background-image: url('worker.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    max-height: 650px;
}
.stars {
    font-size: 24px;
    color: gold; 
  }
.gapp{
    padding-top: 80px;
}
.gappp{
    
    padding-top: 50px;
}
.vvv{
    padding-top: 30px;
}
  
/* 
.team{
 padding: 100px 0;   
}
.team-list{
    display: grid;
    grid-template-columns: repeat(autofit,(minmax(290px, 1fr)));
    gap: 40px;
}
.team-item{
    overflow: hidden;
    position: relative;
}
.team-item::before,
.team-item::after,
.team-inner::before,
.team-inner::after{
    content: ;
    position: absolute;
    background-color: hsl(0, 0%, 100);
    z-index: 1;
    transition: 0.3s;
}
.team-item::before,
.team-item::after{
    height: 3px;
    width: 0;
    transition-delay: 0.3s;
}
.team-item::before{
    top: 20px;
    left: 20px;
}
.team-item::after{
    bottom: 20px;
    right: 20px;

}
.team-item:hover::before,
.team-item:hover::after{
    width: calc(100% - 40px);
    transition-delay: 0s;
}

.team-item img{
    width: 100px;
    display: block;
    filter:grayscale(1)
    transition: 0.5s;

}
.team-item:hover img{
    opacity: 0.3;
    transform: scale(1.1);
}
.team-info{
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%; 
    transform: translate(calc(-50% + 20px)) ;
    z-index: 2;
    text-align: center;
    text-transform: capitalize;
    color:hsl(0, 0%, 100%) ;
    opacity: 0;
    transition: 0.5s;
}
.team-info h3{
    font-size: 30px;
    font-weight: 600;
} */